header, footer {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 2rem 4rem;

		@include breakpoint(medium) {
			display: flex;
			justify-content: space-between;
		}

		li {
			width: 100%;
			display: inline-block;

			@include breakpoint(small) {
				width: 50%;
			}

			@include breakpoint(medium) {
				width: auto;
			}
		}
	}
}