%jobcontent {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.jobs {
	display: flex;
	flex-wrap: wrap;

	> div {
		display: flex; // matchheights on columns
	}

	> div > div {
		border-radius: 20px;
		background-color: $neutral1;
		
		@extend %jobcontent;

	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1rem;
		color: $neutral4;
	}

}

.jobs-sub {
	display: flex;
	flex-wrap: wrap;
	
	> div {
		display: flex; // matchheights on columns
	}

	> div > div {
		outline: 1px solid $neutral4;

		@extend %jobcontent;
		
		.job-image {
			outline: 1px solid $neutral5;
		}
	}

	h3 {
		font-size:1.1rem;
	}
	h4 {
		font-size:1rem;
		color: $neutral4;
	}

	dl {
		dt {
			font-size: 1.2rem;
		}
	}
}